<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoCUKs9G1v2a7MMVPFbl3vVZ-gGXatyuw</string>
	<key>GCM_SENDER_ID</key>
	<string>585680400602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.defendorAppV01.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>initvideodatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>initvideodatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585680400602:ios:3a9da683671e486db335e3</string>
</dict>
</plist>